/*
:root {
   Light theme colors 
  --color-text-primary: #1F2936;
  --color-text-placeholder: #798EAE;
  --color-bg-primary: #f9fafb;
  --color-bg-secondary: #ECECFD;
  --color-bg-sidebar: #FFFFFF;
  --color-border-hr: #E2E8F0;
  --color-hover-primary: #695CFE;
  --color-hover-secondary: #e2e2fb;
  --color-shadow: rgba(0, 0, 0, 0.05);
}

body.dark-theme {

  --color-text-primary: #F1F5F9;
  --color-text-placeholder: #A6B7D2;
  --color-bg-primary: #111827;
  --color-bg-secondary: #3D4859;
  --color-bg-sidebar: #1f2937;
  --color-border-hr: #3B475C;
  --color-hover-secondary: #48566a;
  --color-shadow: rgba(0, 0, 0, 0.3);
}*/

body {
  min-height: 100vh;
}

.sidebar {
  position: sticky;
  top: 0;
  width: 270px;
  height: 100vh;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  background: #0c127d;
  border-right: 1px solid #E2E8F0;
  box-shadow: 0 3px 9px  rgba(0, 0, 0, 0.3);
  transition: width 0.4s ease;
  z-index: 100;
}

.sidebar.collapsed {
  width: 90px;
}

.sidebar .sidebar-header {
  padding: 20px 18px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid  #ECECFD;
}

.sidebar-header .header-logo {
  width: 46px;
  height: 46px;
  display: block;
  object-fit: contain;
  border-radius: 50%;
  transition: opacity 0.4s ease;
}

.sidebar.collapsed .header-logo {
  opacity: 0;
  pointer-events: none;
}

.site-nav .sidebar-toggle,
.sidebar-header .sidebar-toggle {
  height: 40px;
  width: 40px;
  border: none;
  cursor: pointer;
  display: flex;
  position: absolute;
  right: 18px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: #121ab9 ;
  transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-header .sidebar-toggle {
  transform: translateX(0px);
  height: 48px;
  width: 50px;
}

.sidebar-header .sidebar-toggle span {
  font-size: 1rem;
  transition: transform 0.4s ease;
}

.sidebar.collapsed .sidebar-toggle span {
  transform: rotate(180deg);
}

.sidebar .sidebar-content {
  flex: 1;
  padding: 20px 20px 18px 0px;
  overflow: hidden auto;
  scrollbar-width: thin;
  scrollbar-color: #798EAE transparent;
}

.sidebar.collapsed .sidebar-content {
  scrollbar-width: none;
}

.sidebar.collapsed .search-form:hover {
  cursor: pointer;
}

.sidebar-content .search-form:focus-within,
.sidebar.collapsed .search-form:hover {
  background: white;
}

.sidebar-content .menu-list {
  display: flex;
  gap: 2px;
  list-style: none;
  flex-direction: column;
}

.menu-list .menu-link {
  display: flex;
  gap: 12px;
  margin-bottom:10px;
  padding:10px 10px 4px 10px;
  white-space: nowrap;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  transition: 0.3s ease;
  transform: translateX(-10px);
}

.menu-link .menu-label {
  transition: opacity 0.3s ease;
  font-size:1rem;
}

.sidebar.collapsed .menu-link .menu-label {
  opacity: 0;
  pointer-events: none;
}

.menu-list .menu-link:is(:hover, .active) {
  color: #fff;
  background: #121ab9 ;
  padding-right:35px;
  position: relative;
}

.menu-item i{
  font-size: 1.5rem;
}

.site-nav {
  top: 0;
  display: none;
  padding: 15px 20px;
  position: sticky;
  background: #0F1595;
  border-bottom: 1px solid  #3B475C;
  z-index: 10;
}

.site-nav .sidebar-toggle {
  position: unset;
}

.container-fluid {
  display: flex;
}

.main-content{
  width: 100%;
}

.container-fluid  .main-content {
  flex: 1;
  padding: 30px;
  color: var(--color-text-primary);
}

.main-content .page-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 50px;
  border-left:5px solid #0c127d;
  padding-left: 10px;
}

/* Responsive media query code for small screens */
@media (max-width: 768px) {
  body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.6);
    transition: 0.4s ease;
  }

  body:has(.sidebar:not(.collapsed))::before {
    opacity: 1;
    pointer-events: auto;
  }

  body:has(.sidebar:not(.collapsed)) {
    overflow: hidden;
  }

  .site-nav {
    display: block;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 20;
    width: 270px;
    transition: left 0.4s ease;
  }

  .sidebar.collapsed {
    left: -270px;
    width: 270px;
  }

  .container-fluid .main-content {
    padding: 30px 20px;
  }
}